.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Add some space between buttons */
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

.button:active {
  background-color: #3e8e41;
}
